@charset "UTF-8";
/* @extend */
.flex-center, .flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  justify-content: space-between;
}
.flex-row .item {
  flex: 1;
  display: flex;
}
.flex-row .item.item-c {
  justify-content: center;
}
.flex-row .item.item-r {
  justify-content: flex-end;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: padding-box;
}
.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
  border: 6px solid transparent;
  background-clip: padding-box;
}
.overflow-y-auto::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.ellipsis {
  flex-grow: 1;
  display: inline-block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap !important;
  text-overflow: ellipsis;
}

:root {
  font-family: "Pretendard", "Malgun Gothic", "맑은고딕", -apple-system, "돋움", "dotum", sans-serif;
  font-size: 14px;
  color: #1d1d1d;
  --color-primary-code:248,153,2;
  --color-primary: rgb(var(--color-primary-code));
  --color-secondary: #6C6155;
  --color-success: #3AAF3A;
  --color-danger: #E34D4D;
  --color-warning: #ff8227;
  --color-info: #0c96e9;
  --color-dark: #333;
  --color-primary-a: rgba(var(--color-primary-code), .1);
  --color-secondary-a: #8B847D;
  --color-success-a: #71D671;
  --color-danger-a: #F77070;
  --color-warning-a: #f9af3e1a;
  --color-info-a: #32b33d1a;
  --color-dark-a: #767676;
  --color-black: #000;
  --color-white: #fff;
  --color-gray-base: #8891A1;
  --color-gray-1: #111;
  --color-gray-2: #222;
  --color-gray-3: #333;
  --color-gray-4: #444;
  --color-gray-6: #666;
  --color-gray-7: #777;
  --color-gray-9: #999;
  --color-gray-a: #aaa;
  --color-gray-b: #bbb;
  --color-gray-c: #ccc;
  --color-gray-d: #ddd;
  --color-gray-e: #eee;
  --color-input: #1d1d1d;
  --color-input-border: #dedede;
  --color-input-border-focus: #1D1D1D;
  --color-placeholder: #767676;
  --color-disabled: #999;
  --color-disabled-bg: #f5f5f7;
  --color-disabled-border: #dedede;
  --color-readonly: #333;
  --color-readonly-bg: #f0f3f9;
  --color-readonly-border: #e0e3ec;
  --color-hover-bg: #f2f2f2;
  --color-body-bg: #F7F8FC;
  --color-loading:#ddd;
}

/* form */
*:disabled, [disabled], .disabled {
  background: var(--color-disabled-bg) !important;
  border: 1px solid var(--color-disabled-border) !important;
  color: var(--color-disabled) !important;
  pointer-events: none;
}

[readonly], .readonly {
  background: var(--color-readonly-bg) !important;
  border: 1px solid var(--color-readonly-border) !important;
  color: var(--color-readonly) !important;
  pointer-events: none;
}

*::-moz-placeholder {
  color: var(--color-placeholder);
}

*::placeholder {
  color: var(--color-placeholder);
}

*:focus::-moz-placeholder {
  color: transparent;
}

*:focus::placeholder {
  color: transparent;
}

*:focus:not(a) {
  border-color: var(--color-input-border-focus) !important;
}

/* width */
.w1p {
  width: 1% !important;
}

.w5p {
  width: 5% !important;
}

.w10p {
  width: 10% !important;
}

.w15p {
  width: 15% !important;
}

.w20p {
  width: 20% !important;
}

.w25p {
  width: 25% !important;
}

.w30p {
  width: 30% !important;
}

.w33p {
  width: 33% !important;
}

.w35p {
  width: 35% !important;
}

.w40p {
  width: 40% !important;
}

.w45p {
  width: 45% !important;
}

.w50p {
  width: 50% !important;
}

.w60p {
  width: 60% !important;
}

.w65p {
  width: 65% !important;
}

.w67p {
  width: 67% !important;
}

.w70p {
  width: 70% !important;
}

.w75p {
  width: 75% !important;
}

.w80p {
  width: 80% !important;
}

.w85p {
  width: 85% !important;
}

.w90p {
  width: 90% !important;
}

.w95p {
  width: 95% !important;
}

.w98p {
  width: 98% !important;
}

.w100p {
  width: 100% !important;
}

.w30px {
  width: 30px !important;
}

.w40px {
  width: 40px !important;
}

.w50px {
  width: 50px !important;
}

.w60px {
  width: 60px !important;
}

.w65px {
  width: 65px !important;
}

.w70px {
  width: 70px !important;
}

.w80px {
  width: 80px !important;
}

.w90px {
  width: 90px !important;
}

.w100px {
  width: 100px !important;
}

.w110px {
  width: 110px !important;
}

.w120px {
  width: 120px !important;
}

.w130px {
  width: 130px !important;
}

.w140px {
  width: 140px !important;
}

.w150px {
  width: 150px !important;
}

.w160px {
  width: 160px !important;
}

.w170px {
  width: 170px !important;
}

.w180px {
  width: 180px !important;
}

.w200px {
  width: 200px !important;
}

.w250px {
  width: 250px !important;
}

.w300px {
  width: 300px !important;
}

.w400px {
  width: 400px !important;
}

.w500px {
  width: 500px !important;
}

/* Height */
.h100p {
  height: 100% !important;
}

.h20px {
  height: 20px !important;
}

.h40px {
  height: 40px !important;
}

.h50px {
  height: 50px !important;
}

.h80px {
  height: 80px !important;
}

.h100px {
  height: 100px !important;
}

.h110px {
  height: 110px !important;
}

.h150px {
  height: 150px !important;
}

.h200px {
  height: 200px !important;
}

.h250px {
  height: 250px !important;
}

.h300px {
  height: 300px !important;
}

.h400px {
  height: 400px !important;
}

.h500px {
  height: 500px !important;
}

.h600px {
  height: 600px !important;
}

.h-fit {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

/*  margin */
.pd {
  padding: 20px;
}

.mb {
  margin-bottom: 20px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mt {
  margin-top: 30px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mt2 {
  margin-top: 2px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.ml-auto {
  margin-left: auto;
}

.ml {
  margin-left: 20px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.ml2 {
  margin-left: 2px !important;
}

.ml3 {
  margin-left: 3px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.mr_auto {
  margin-right: auto;
}

.mr {
  margin-right: 20px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr23 {
  margin-right: 23px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr40 {
  margin-right: 40px !important;
}

/*Padding*/
.pd0 {
  padding: 0 !important;
}

.pd10 {
  padding: 10px !important;
}

.pd20 {
  padding: 20px !important;
}

.pd30 {
  padding: 30px !important;
}

.pb {
  padding-bottom: 20px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pt {
  padding-top: 20px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pl {
  padding-left: 20px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pl2 {
  padding-left: 2px !important;
}

.pl3 {
  padding-left: 3px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl17 {
  padding-left: 17px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pr {
  padding-right: 20px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pr3 {
  padding-right: 3px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr16 {
  padding-right: 16px !important;
}

.pr17 {
  padding-right: 17px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.whiteSpace-nowrap {
  white-space: nowrap;
}

.whiteSpace-normal {
  white-space: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h3, h4, h5 {
  display: block;
  color: var(--color-gray-2);
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.font-body1 {
  font-size: 16px;
}

.font-body2 {
  font-size: 14px;
}

.font-body3 {
  font-size: 12px;
}

.font-body4 {
  font-size: 11px;
}

.font-b {
  font-weight: 800 !important;
}

.font-sb {
  font-weight: 600 !important;
}

.font-normal {
  font-weight: normal !important;
}

.font-primary {
  color: var(--color-primary) !important;
}

.font-secondary {
  color: var(--color-secondary) !important;
}

.font-danger {
  color: var(--color-danger) !important;
}

/* form-mix */
.form-mix {
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-mix.right {
  justify-content: flex-end;
}

/* flex row */
.flex-column {
  display: flex;
  flex-direction: column !important;
}

.flex0 {
  flex: 0;
  flex-grow: 0 !important;
}

.flex1 {
  flex: 1;
  flex-grow: 1 !important;
}

.flex2 {
  flex: 2 !important;
}

.flex3 {
  flex: 3 !important;
}

.flex4 {
  flex: 4 !important;
}

.flex-grow1 {
  flex-grow: 1 !important;
}

.shrink0 {
  flex-shrink: 0;
}

.flex-start {
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-top {
  align-items: flex-start !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-nowrap {
  flex-wrap: nowrap !important;
}

.flex-split {
  align-items: flex-start;
  gap: 30px;
}

.inline-flex {
  display: inline-flex !important;
}

.h-full {
  flex-grow: 1;
  height: 1px;
}

.gap-xs, .gap4 {
  gap: 4px !important;
}

.gap-sm, .gap8 {
  gap: 8px !important;
}

.gap-md, .gap16 {
  gap: 16px !important;
}

.gap-lg, .gap32 {
  gap: 32px !important;
}

.gap-xlg, .gap52 {
  gap: 52px !important;
}

.relative {
  position: relative !important;
}

.display-none {
  display: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-y-auto {
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer !important;
}

.center {
  text-align: center !important;
}